@model IEnumerable<ProjetWebFinale.Models.Utilisateurs>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    /*
     * TODO: Add search for a user
     */

}

<h1>Liste des utilisateurs</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nom de l'utilisateur
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            //Char.ToUpper(name[0]) + name.Substring(1);
            var nomUtilisateur = Char.ToUpper(item.NomUtilisateur[0]) + item.NomUtilisateur.Substring(1);
            <tr>
                <td>
                    @nomUtilisateur
                </td>
                <td>
                    <a href="/FilmsUtilisateurs/Index?name=@item.NomUtilisateur" class="btn btn-success">Voir tout les DVDs appartenant à cet utilisateur</a>
                </td>
                <td>
                    <a href="/Email/Email?receiver=@item.Courriel" class="btn btn-success">Contacter cet utilisateur</a>
                </td>
            </tr>
        }
    </tbody>
</table>
