@model ProjetWebFinale.Models.Films

@{
    ViewData["Title"] = "Error";
}

<h1>Erreur ! Information non trouvé, veuillez retourner à la page principale.</h1>
<div>
    <a asp-action="Index">Retour au liste</a>
</div>