@model ProjetWebFinale.Models.Utilisateurs
@inject UserManager<Utilisateurs> _userManager
﻿@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Contacter";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sender = Context.Request.Query["sender"];
    string receiver = Context.Request.Query["receiver"];
    var user = await _userManager.GetUserAsync(User);

    /*
    * TODO
    * Send to multiple users
    */
}

<h1>Contacter un ou plusieurs utilisateurs</h1>

<form asp-controller="Email" asp-action="Email" method="post">
    <div>
        <label for="radioUtilisateur"> Message pour tout les utilisateurs </label>
        <input type="checkbox" id="tout" name="tout" onclick="disableReceiver()" />
        <hr />
        <dl class="row">

            <dt>
                Expéditeur:
            </dt>
            <dd>
                <input type="text" name="sender" readonly value="@user.Courriel" />
            </dd>
            <dt id="lblRecipient">
                Récipient(s):
            </dt>
            @if (!String.IsNullOrEmpty(receiver))
            {
                <dd>
                    <input type="text" name="receiver" readonly value="@receiver" />
                </dd>
            }
            else
            {
                <dd>

                    <select asp-for="NomUtilisateur" name="receiver" class="form-control" asp-items="ViewBag.Courriel"></select>
                </dd>
            }
            <dt>
                Message:
            </dt>
            <textarea name="message" rows="7" cols="50" placeholder="Message pour cet utilisateur..." style="resize:none"></textarea>
            <input type="submit" class="btn btn-primary" value="Contacter" />

        </dl>
    </div>

</form>


<script>
    function disableReceiver() {
        var tout = document.getElementById("tout").checked
        if (tout == true) {
            document.getElementById("NomUtilisateur").style.display = 'none';
            document.getElementById("lblRecipient").style.display = 'none';
        }
        else {
            document.getElementById("NomUtilisateur").style.display = 'block'
            document.getElementById("lblRecipient").style.display = 'block';

        }
    }
</script>