@model ProjetWebFinale.Models.RegisterViewModel

@{
    ViewData["Title"] = "Ajouter un nouvel utilisateur";
}

<h1>Ajouter un nouvel utilisateur</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Courriel"></label>
                <input asp-for="Courriel" class="form-control" />
                <span asp-validation-for="Courriel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nom"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotDePasse">Mot de passe</label>
                <input asp-for="MotDePasse" class="form-control" />
                <span asp-validation-for="MotDePasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmerMotDePasse">Confirmer le mot de passe</label>
                <input asp-for="ConfirmerMotDePasse" class="form-control" />
                <span asp-validation-for="ConfirmerMotDePasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeUtilisateur" class="control-label"></label>
                <select asp-for="TypeUtilisateur" class ="form-control" asp-items="ViewBag.TypeUtilisateur"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
